* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}

.App {
  background-color: aliceblue;
  transition: all 0.5s ease-in-out;
  background: url(https://top-fon.com/uploads/posts/2023-02/1675219989_top-fon-com-p-fon-kukhonnii-dlya-prezentatsii-32.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App.night {
  background-color: rgb(35, 195, 195);
  background: url(https://avatars.mds.yandex.net/i?id=7e8300e4069a9366d89ee66865ce06baead3bf26-10695933-images-thumbs&n=13);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.App.night .navbar {
  background-color: rgb(0, 42, 100);
}
.App.night .nightMode {
  background: rgba(255, 255, 255, 0.509);
}
.App.night .home_box {
  background: rgba(255, 255, 255, 0.82);
  box-shadow: none;
}
.navbar {
  width: 100%;
  padding: 20px 130px;
  background-color: rgb(29, 211, 156);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.navbar button {
  padding: 8px 15px;
  background: transparent;
  border: 2px solid white;
  font-size: 20px;
  color: white;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar button:hover {
  transform: scale(1.1);
}
.logo {
  display: flex;
  gap: 10px;
}
.logo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.logo h1 {
  font-size: 28px;
  text-transform: uppercase;
}
.link {
  list-style: none;
  text-decoration: none;
  color: white;
}

.nightMode {
  width: 100%;
  padding: 20px 140px;
  font-size: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(250, 243, 243, 0.804);
}
.slider {
  display: flex;
  gap: 10px;
}
.circle {
  display: flex;
  background: red;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.navbar.red {
  background-color: red;
}
.circle:nth-child(2) {
  background-color: purple;
}

.circle:nth-child(3) {
  background-color: orange;
}

.circle:nth-child(4) {
  background-color: lime;
}

.label {
  background-color: rgb(0, 42, 100);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 50px;
  padding: 5px;
  width: 50px;
  height: 26px;
  transform: scale(1.1);
  cursor: pointer;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.fa-moon {
  color: #f1c40f;
  margin-top: 3px;
  font-size: 18px;
}
.fa-sun {
  font-size: 19px;
  color: #f1c40f;
  margin-top: 3px;
}
.ball {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.home {
  width: 100%;
  padding: 20px 120px;
}

.home_boxs {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.home_box {
  width: 340px;
  height: 270px;
  background-color: rgb(249, 231, 231);
  box-shadow: 0 0 15px grey;
  border-radius: 10px;
  padding: 20px;
  color: grey;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.home_box .icon {
  font-size: 22px;
}
.home_box:hover {
  /* filter: drop-shadow(0 0 2em rgb(0, 250, 175)); */
  transform: translateY(-10px) translateX(0px);
  cursor: pointer;
}

/*! box animation */

.home_box:hover .home_bg {
  width: 600px;
  height: 600px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.home_box h1 {
  font-size: 28px;
  color: orangered;
}
.home_box h3 {
  margin-top: 10px;
}
.home_box p {
  margin-top: 10px;
}

.home_box p {
  margin-top: 10px;
}

.del {
  cursor: pointer;
}
